.navbar {
    padding: 1rem;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    z-index: 99;
    position: relative;
  
    .nav-links {
      display: flex;
      gap: 1rem;
      list-style: none;
  
      a {
        color: white;
        text-decoration: none;
        padding: 0.5rem;
  
        &.active {
          border-bottom: 2px solid #4fc3f7;
        }
  
        &:hover {
          color: #4fc3f7;
        }
      }
    }
  }
  