@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.navbar {
    padding: 1rem;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  
    .nav-links {
      display: flex;
      gap: 1rem;
      list-style: none;
  
      a {
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-optical-sizing: auto;
  
        &.active {
          border-bottom: 2px solid #4fc3f7;
        }
  
        &:hover {
          color: #4fc3f7;
        }
      }
    }
  }
  