<section class="skills-container">
  <h2>My Skills</h2>

  <div class="skills-grid" @fadeInStagger>
    <div class="skill-block">
      <h3>Frontend</h3>
      <ul>
        <li *ngFor="let skill of frontend">
          <ng-container *ngIf="isSkillObject(skill); else textOnly">
            <fa-icon [icon]="skill.icon" size="lg"></fa-icon>
            {{ skill.name }}
          </ng-container>
          <ng-template #textOnly>
            {{ skill }}
          </ng-template>
        </li>
      </ul>
    </div>

    <div class="skill-block">
      <h3>Backend</h3>
      <ul>
        <li *ngFor="let skill of backend">
          <ng-container *ngIf="isSkillObject(skill); else textOnly">
              <fa-icon [icon]="skill.icon" size="lg"></fa-icon>
            {{ skill.name }}
          </ng-container>
          <ng-template #textOnly>
            {{ skill }}
          </ng-template>
        </li>
      </ul>
    </div>

    <div class="skill-block">
      <h3>Tools & Tech</h3>
      <ul>
        <li *ngFor="let skill of tools"><ng-container *ngIf="isSkillObject(skill); else textOnly">
            <fa-icon [icon]="skill.icon" size="lg"></fa-icon>
            {{ skill.name }}
          </ng-container>
          <ng-template #textOnly>
            {{ skill }}
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</section>