<section class="about-container">
    <div class="about-content">
      <div class="text-section" @fadeInLeft>
        <h2>About Me</h2>
        <p>
          I'm Harry, a full-stack developer based in the UK. I love building clean, performant web apps that solve real problems and create value for users.
        </p>
        <p>
          I’ve recently completed a full-stack project using React, Express, and PostgreSQL, and I'm constantly pushing to improve and learn new tech.
        </p>
        <p>
          When I’m not coding, I enjoy gaming, making cocktails, and hitting the gym 🏋️
        </p>
  
        <a class="btn" href="/assets/Harry-CV.pdf" target="_blank">Download CV</a>
      </div>
  
      <div class="image-section" @fadeInRight>
        <img src="../../../assets/profile.jpg" alt="Harry's photo" />
      </div>
    </div>
  </section>
  